---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Carrousel from "../components/Carrousel.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Form from "../components/Form.astro";
---
<body>
    <Header />
    <main class="flex flex-col gap-20">
        <img src="https://static-00.iconduck.com/assets.00/9-404-error-illustration-2048x908-vp03fkyu.png">
        <div class="justify-center flex">
            <a  href="/" class="bg-black p-2 text-white w-10 rounded-lg">Volver</a>
        </div>
    </main>
</body>