---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Carrousel from "../components/Carrousel.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Form from "../components/Form.astro";
import { Image } from "astro:assets";
import photo from '../../public/images/cristian.jpg'
import pdf from '../../public/pdf/curriculum_web_dev.pdf'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="">
		<Header />
		<main class="w-full pt-20">
			<section class="lg:px-20 flex flex-col lg:flex-row justify-between mb-32">
				<Experience />
				<div class="flex flex-col lg:flex-row">
					<div class="mb-2">

						<h1 class="text-4xl font-bold lg:text-6xl text-center mt-20 lg:mt-0" >Cristian Massa</h1>
						<p class="text-center md:w-[500px] mr-2">
							Soy un apasionado de la creación de sitios web dinámicos y
							funcionales que impulsen el crecimiento de las empresas. Con
							23 años y experiencia como freelance en proyectos de
							eCommerce, actualmente formalizo mis estudios en el
							Instituto Tecnológico Superior.
						</p>
						<div class="flex gap-2 flex-col md:flex-row justify-center text-center">
							<a class="bg-black w-14 place-self-center text-white hover:text-white p-1  rounded-lg" href={pdf} download>Cv</a>
							<button id="scroll" class="min-w-40 place-self-center bg-black text-white hover:text-white p-1 px-8 rounded-lg">Información de contacto</button>
						</div>
					</div>
					<div class="flex  justify-center">
						<Image width="300" src={photo} height="300" alt="hola" />
					</div>
				</div>
			</section>
			<Projects />
			<Carrousel />
			<section class="flex justify-center my-20">
				<Form />
			</section>
		</main>
		<Footer />
		
	</body>
</html>


<script>
	const scroll = document.getElementById('scroll')
	const infoTop = document.getElementById('info')?.offsetTop
	const infoHeight = document.getElementById('info')?.offsetHeight
	scroll?.addEventListener('click', ()=>{
		if(infoTop && infoHeight){
			window.scroll({
			top: infoTop + infoHeight,
			behavior: "smooth"
		})
		}
	})
</script>